#action-adventure {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#action-adventure1 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#action-adventure2 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#action-adventure3 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#animation {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#animation1 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#animation2 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#animation3 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#comedy {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#comedy1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#comedy2 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#comedy3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#crime {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#crime1 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#crime2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#crime3 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#documentary {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#documentary1 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#documentary2 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#documentary3 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#drama {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#drama1 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#drama2 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#drama3 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#family {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#family1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#family2 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#family3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#fantasy {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#fantasy1 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#fantasy2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#fantasy3 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#history {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#history1 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#history2 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#history3 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#horror {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#horror1 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#horror2 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#horror3 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#musical {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#musical1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#musical2 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#musical3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#mystery {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#mystery1 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#mystery2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#mystery3 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#romance {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#romance1 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#romance2 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#romance3 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#sci-fi {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#sci-fi1 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#sci-fi2 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#sci-fi3 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#sport {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#sport1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#sport2 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#sport3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#superhero {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#superhero1 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#superhero2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/VFPt_image_charge_plane_horizontal.svg/1200px-VFPt_image_charge_plane_horizontal.svg.png);
}

#superhero3 {
   background-image: url(https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/98C6A9B3-B297-CA31-2C11F7814A1207E0.jpg);
}

#thriller {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#thriller1 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#thriller2 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#thriller3 {
   background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Video20/v4/fe/dc/f0/fedcf039-7cc9-89b1-b992-00b0d47a229e/pr_source.lsr/268x0w.png);
}

#war {
   background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/cat_weight_ref_guide/1800x1200_cat_weight_ref_guide.jpg);
}

#war1 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#war2 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

#war3 {
   background-image: url(https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg);
}

