#action {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#action1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#action2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#action3 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#adventure {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#adventure1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#adventure2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#adventure3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#comedy {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#comedy1 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#comedy2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#comedy3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#crime {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#crime1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#crime2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#crime3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#drama {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#drama1 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#drama2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#drama3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#fantasy {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#fantasy1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#fantasy2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#fantasy3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#historical {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#historical1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#historical2 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#historical3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#horror {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#horror1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#horror2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#horror3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#mystery {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#mystery1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#mystery2 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#mystery3 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#political {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#political1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#political2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#political3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#romance {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#romance1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#romance2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#romance3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#satire {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#satire1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#satire2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#satire3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#science-fiction {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#science-fiction1 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#science-fiction2 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#science-fiction3 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg/1280px-1929_Singer_Six_at_Capel_Manor%2C_Enfield%2C_London%2C_England_1.jpg);
}

#thriller {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG/1280px-A_farmhouse_at_Stow_Green%2C_nr_Horbling_Lincolnshire%2C_England.JPG);
}

#thriller1 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

#thriller2 {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/-BLMcareers_%%2821857337562%29.jpg);
}

#thriller3 {
   background-image: url(https://commons.wikimedia.org/wiki/Category:Images_-_landscape_aspect_ratio#/media/File:Braess1.png);
}

