body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
    background-color: black;
}

.film {

  border-left: 3vw white dashed;
  border-right: 3vw white dashed;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.filmContent {
  min-height: 100px;
  height: 43vw;
  background-color: white;
  margin: 5% 0px;
  font-family: courier, monospace;
  text-align: center;
  font-size: 3.2vw;
  border-radius: 5vw;
  padding-right: 5vw;
  padding-left: 5vw;
}

.spacer1 {
  height: 50px;
}

.parallax {
  background-position: center center;
  min-height: 100px;
  height: 50vw;
  margin: 5% 0px;
  border-radius: 5vw;
  padding-right: 5vw;
  padding-left: 5vw;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 185vh;
}
#parallax1 {
  background-image: url("https://i.redd.it/efnva8dc01y21.jpg");
}

#parallax2 {
  background-image: url("https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2016/07/forrest_gump_still.jpg");
}

#parallax3 {
  background-image: url("https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/08/29/Pictures/this-image-released-by-warner-bros_b14d339a-ca1e-11e9-80e5-a7e5951f3eba.jpg");
}

#parallax4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/seeso-Monty_Python_And_The_Holy_Grail_Mov-Full-Image_GalleryBackground-en-US-1483993549331._SX1080_.jpg");
}

header {
    background-color: #0099dd;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

header a {
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18pt;
}

header a:hover {
    background-color: #00bbff;
}

footer {
    background-color: #0099dd;
    color: white;
    padding: 10px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}
